/* Configurações gerais*/

/* #81d8d0
    #40e0d0
    #faf0e6
*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #685347;
    background-color: #E8DCD4;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* Cabeçalho e Rodapé */
header, footer {
    width: 100%;
    padding: 12vw;
    text-align: center;
    background: url("bg-noivas.png");
    background-size: 100%;
    background-position: center center;
    display: inline-block;
}

/* colunas leterais */
.colunas {
    width: 20%;
    float: left;
    padding: 20px;
} 
/* coluna central */
article {
   width: 60%;
   float: left;
   background-color: #fff;
   padding: 10px 32px;
   border-radius: 40px;
}

.navegacao {
    background-color: #faf0e6;
    padding: 28px;
    font-family: 'Abril Fatface', cursive;
}

.navegacao ul {
    display: flex;
    gap: 250px;
    list-style-type: none;
}

.navegacao ul li a {
    text-decoration: none;
    color: #8b6f5d;
}

h2 {
    margin: 20px 0;
}
